[Desktop Entry]
Version=1.0
Type=Application
Name=Idea
Icon=/home/voldikss/Applications/idea-IE-192.5728.124/bin/idea.svg
Exec="/home/voldikss/Applications/idea-IE-192.5728.124/bin/idea.sh" %f
Comment=Idea
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
